@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  /* Kita tambahkan warna custom jika perlu, tapi pakai bawaan Stone & Amber sudah cukup */
  --color-neutral-950: #0c0a09; /* Stone-950 */
}

/* Custom Animation untuk Planet */
@keyframes float {
  0%,
  100% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-20px) rotate(2deg);
  }
}

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(5px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(5px) rotate(-360deg);
  }
}

html {
  scroll-behavior: smooth;
}

body {
  /* Pastikan body transparan agar background dari komponen SaturnBackground terlihat */
  background-color: transparent;
}
